@import url('https://fonts.googleapis.com/css?family=Montserrat');

  html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: #cfd5d6;
}

.header {
    background-color: #e94643;
    height:80px;
    border-top: 20px solid #04e4a2;
}

.footer-inner,
.contact-wrapper,
.featured,
.navbar {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    margin: 20px 0 20px 144px;
    display: block;
    float: left;
}

.menu {
    float: right;
    margin: 29px 0;
    padding: 0;
    list-style: none;
}

.menu li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.menu li a:hover {
    border-bottom: 2px solid #fdd835;
}


.wrapper {
    background-color: #ef5350;
    height: 580px;
}
.featured {
    padding-top: 63px;
    position: relative;
}
.featured-text,
.phone {
    z-index: 10;
}

.green-element {
    background: url("../img/green-element.png") no-repeat;
    width: 667px;
    height: 698px;
    position: absolute;
    left: -75px;
    top: 74px;
    z-index: 1;
}
.phone {
    width: 600px;
    height: 818px;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
.featured-text {
    float: right;
    width: 500px;
    padding: 50px;
    color: #ffffff;
    position: relative;
}
.know-more {
    border-top: 1px dashed #e84542;
    text-align: right;
    padding-top: 25px;
}
.button {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 25px;
    border-radius: 4px;
}
.button.green {
    background-color: #04e4a2;
}


.contact-form {
    width:580px;
    float: right;
}
.contact-form h3 {
    padding-left: 25px;
    color: #ef5350;
    font-size: 16px;
}

.form-block,
.form-input-block {
    float: left;
    margin: 5px;
}

.form-input-block,
.form-input-block select,
.form-input-block input {
    width: 240px;/* targeted width 250px */
}

.form-input-block input {
    height: 30px;
}

.form-block textarea,
.form-input-block input {
    color: #000000;
}

.form-input-block select,
.form-block textarea,
.form-input-block input {
    display: block;
    border-radius: 4px;
    border: 1px solid rgba(239, 83, 80, 0.5);
    text-indent: 20px;
    padding: 5px;
}
.form-input-block select {
    color: #636363;
    background: url("../img/select-arrow.png") 220px 15px #fff no-repeat;
    width: 252px;
    height: 42px;
    text-indent: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 100;
}

.form-block textarea {
    width: 500px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #222222;
    font-weight: 700;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #222222;
    font-weight: 700;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #222222;
    font-weight: 700;
}
:-moz-placeholder { /* Firefox 18- */
    color: #222222;
    font-weight: 700;
}
